<!-- Catalog 2016 -->
{% for item in site.data.catalog-2016 %}

    {% for project in item.project %}

        {% if project.cat_slug != 'submissions_2016' and project.cat_slug != 'winners_2016' %}

        <div class="grid-sizer"></div>

            <div class="grid-item element-item {{ project.cat_slug }} col-lg-3 col-md-4 col-sm-4 col-xs-6" data-category="{{ project.cat_slug }}" data-sort="{{ project.name }} - {{ project.category_full }}">

            {% for main in project.main %}

              {% assign main = site.data.catalog-2016[0].project[0].main[0] %}
              {% assign data = main.image|split:"," %}

                <a tabindex="-1" class="fancybox" data-fancybox="{{ project.cat_slug }}" href="{{ site.baseurl }}/{{ site.ic_assets_path_2016 }}/{{ site.ic_assets_path_main }}/{{ project.cat_slug }}/{{ data[0] }}_{{ forloop.index }}.png"
                data-caption="<span class='fancybox-caption-title'>
                Category: {{ project.top_category }} &mdash; 
                {{ project.category_full }}</span><br />
                <span class='caption-blurb'>
                {% if project.name == 'IRS MyService' %}2016 Winner &mdash; First Place, Best Overall Design and Taxpayer Usefulness<br />{% endif %}

                {% if project.name == 'IRS 365' %}2016 Winner &mdash; Second Place, Best Taxpayer Usefulness<br />{% endif %}

                {% if project.name == 'taxez' %}2016 Winner &mdash; First Place, Best Financial Capability<br />{% endif %}

                {% if project.name == 'MyTaxOnline' %}2016 Winner &mdash; Second Place, Best Financial Capability<br />{% endif %}


This is sample {{ forloop.index }} of {{ forloop.length }} of this submission. <a href='{{ site.baseurl }}/{{ site.ic_assets_path_2016 }}/pdfs/{{ project.pdf_link }}'>Download Submission (PDF, {{ project.pdf_size }})<a></span>" data-alt="{{ data[1] }}" data-thumb="{{ site.baseurl }}/{{ site.ic_assets_path_2016 }}/{{ site.ic_assets_path_main }}/{{ project.cat_slug }}/{{ data[0] }}_{{ forloop.index }}.png" aria-label="Thumbnail link">

                <div class="thumbnail-wrapper">
                 {% if project.winner == 'winner' %}<div class="winner-wrapper"><div class="winner"></div>{% endif %}

                    <div class="caption">
                        <p>View Design Samples</p>
                    </div>

                    <img class="img-responsive" src="{{ site.baseurl }}/{{ site.ic_assets_path_2016 }}/{{ site.ic_assets_path_thumbs }}/{{ project.thumb_url }}" alt="{{ project.thumb_alt }}" />

                {% if project.winner == 'winner' %}</div>{% endif %}
                </div>

                </a>
                    
            {% endfor %}

                <span class="item-desc">{{ project.name }} &mdash; {{ project.category_full }}</span>

            </div>

        {% endif %}

        {% if project.cat_slug == 'submissions_2016' or project.cat_slug == 'winners_2016' %}

        <div class="grid-sizer"></div>

            <div class="grid-item element-item {{ project.cat_slug }} col-lg-3 col-md-4 col-sm-4 col-xs-6" data-category="{{ project.name }}" data-sort="{{ project.name }} - {{ project.category_full }}">

            {% for main in project.main %}

              {% assign main = site.data.catalog-2016[0].project[0].main[0] %}
              {% assign data = main.image|split:"," %}

                <a tabindex="-1" class="fancybox" data-fancybox="{{ project.name }}" href="{{ site.baseurl }}/{{ site.ic_assets_path_2016 }}/{{ site.ic_assets_path_main }}/{{ data[2] | strip }}/{{ data[0] }}.png"
                data-caption="<span class='fancybox-caption-title'>
                Category: {{ project.top_category }} &mdash; 
                {{ data[3] | strip }}</span><br />
<span class='caption-blurb'>
                {% if project.name == 'IRS MyService' %}2016 Winner &mdash; First Place, Best Overall Design and Taxpayer Usefulness<br />{% endif %}

                {% if project.name == 'IRS 365' %}2016 Winner &mdash; Second Place, Best Taxpayer Usefulness<br />{% endif %}

                {% if project.name == 'taxez' %}2016 Winner &mdash; First Place, Best Financial Capability<br />{% endif %}

                {% if project.name == 'MyTaxOnline' %}2016 Winner &mdash; Second Place, Best Financial Capability<br />{% endif %}

                This is sample {{ forloop.index }} of {{ forloop.length }} of this submission. <a href='{{ site.baseurl }}/{{ site.ic_assets_path_2016 }}/pdfs/{{ project.pdf_link }}'>Download Submission (PDF, {{ project.pdf_size }})<a></span>" data-alt="{{ data[1] }}" data-thumb="{{ site.baseurl }}/{{ site.ic_assets_path_2016 }}/{{ site.ic_assets_path_main }}/{{ data[2] | strip }}/{{ data[0] }}.png" aria-label="Thumbnail link">

                <div class="thumbnail-wrapper">
                 {% if project.winner == 'winner' %}<div class="winner-wrapper"><div class="winner"></div>{% endif %}

                            <div class="caption">
                                <p>View Design Samples</p>
                            </div>

                        <img class="img-responsive" src="{{ site.baseurl }}/{{ site.ic_assets_path_2016 }}/{{ site.ic_assets_path_thumbs }}/{{ project.thumb_url }}" alt="{{ project.thumb_alt }}" />

                {% if project.winner == 'winner' %}</div>{% endif %}
                </div>

                </a>
                    
            {% endfor %}

                <span class="item-desc">{{ project.name }} &mdash; {{ project.category_full }}</span>

            </div>

        {% endif %}



    {% endfor %}
    
{% endfor %}
