<footer class="footer row border">
    <div class="container">
      <section class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
        <a href="https://www.irs.gov/uac/irs-privacy-policy">Acceptable Use and Privacy Policy</a> |  
        <a href="{{ site.baseurl }}/accessibility">Accessibility</a> | 
        <a href="https://www.irs.gov/">IRS.gov</a> | 
        <a href="https://www.treasury.gov/Pages/default.aspx">Treasury.gov</a> | 
        <a href="https://www.usa.gov/">USA.gov</a>
      </section>

      <section class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
        <h3>Note for Tax Design Challenge Submissions:</h3>
        <p>PDFs may not be accessible to Assistive Technology users. Participant information has been removed from some PDFs and samples. Please <a href="mailto:michael.lin@irs.gov?subject=I'd%20like%20to%20get%20involved%20with%20or%20learn%20more%20about%20open%20innovation%20at%20the%20IRS." aria-label="Send email">email</a> for further information or to receive a submission in an accessible format.</p>
      </section>
    </div>
</footer>