<script src="{{ site.baseurl }}/assets/js/jquery-1.10.2.min.js"></script>
<script src="{{ site.baseurl }}/assets/js/bootstrap-v3.1.0-min.js"></script>

<script src="{{ site.baseurl }}/assets/js/isotope/isotope.pkgd.min.js"></script>
<script src="{{ site.baseurl }}/assets/js/isotope/isotope.js"></script>

<script type="text/javascript" src="{{ site.baseurl }}/assets/js/fancybox/core.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/assets/js/fancybox/fullscreen.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/assets/js/fancybox/gestures.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/assets/js/fancybox/media.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/assets/js/fancybox/slideshow.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/assets/js/fancybox/thumbs.js"></script>

<!--<script src="{{ site.baseurl }}/assets/js/a11y.js"></script>-->