<script src="{{ site.baseurl }}/assets/js/jquery-1.10.2.min.js"></script>
<script src="{{ site.baseurl }}/assets/js/bootstrap-v3.3.5-min.js"></script>

<script src="{{ site.baseurl }}/assets/js/isotope/isotope.pkgd.min.js"></script>
<script src="{{ site.baseurl }}/assets/js/isotope/isotope.js"></script>

<script type="text/javascript" src="{{ site.baseurl }}/assets/js/fancybox/core.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/assets/js/fancybox/fullscreen.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/assets/js/fancybox/gestures.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/assets/js/fancybox/media.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/assets/js/fancybox/slideshow.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/assets/js/fancybox/thumbs.js"></script>

<!--<script src="{{ site.baseurl }}/assets/js/a11y.js"></script>-->

<script> 
	var $buoop = {vs:{i:9,f:25,o:15,s:6,c:30},unsupported:false,mobile:false,api:4}; 
	function $buo_f(){ 
	 var e = document.createElement("script"); 
	 e.src = "//browser-update.org/update.min.js"; 
	 document.body.appendChild(e);
	};
	try {document.addEventListener("DOMContentLoaded", $buo_f,false)}
	catch(e){window.attachEvent("onload", $buo_f)}
</script>