<div class="row">
  <div class="col-md-12">
    <header>
      <div class="wrap">
        <div class="navbar navbar-default">
            <div class="navbar-header">
              <a href="{{ site.baseurl }}/">
                <div class="ratio4-3" title="IRS Tax Design Challenge"></div>
              </a>
            </div>
        </div>
      </div>
    </header>
  </div>
</div>

<!-- <header role="banner">
  <nav class="navbar navbar-default">
      <div class="navbar-header">
        <a href="{{ site.baseurl }}/">
          <div class="ratio4-3" title="IRS Tax Design Challenge"></div>
        </a>
  </nav>
</header> -->