/*
Main.css
==================================
Begin with generic 'mobile first' styles
*/



/*
Normalize the box model
==================================
*/

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
 }

/*
global styles
==================================
*/

html, body {
    height: 100%;
    -webkit-font-smoothing: subpixel-antialiased;
}

/*
Typography
==================================
*/

body {
    font-family: "Avenir Next", Arial, sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 1.466666667;
}

a, a:link, a:visited {
    text-decoration: underline !important;
}

.btn.btn-primary {
    text-decoration: none !important;
}

h1,
h3,
h4,
h5,
strong {
    font-family: "Avenir Next Demi", "Avenir Next", Arial, sans-serif;
    font-weight: 600;
}

.site-title {
    font-size: 1.625em;
    font-family: "Avenir Next", Arial, sans-serif;
    font-weight: normal;
    color: #919395;
    margin: 0;
    line-height: 1.2941176470588236;
    display: inline-block;
}

h2 {
    font-weight: 400;
    font-style: normal;
    font-size: 1.375em;
    margin: 1.4em 0 0 0;
}

h4 {
    font-size: 1em;
    text-transform: uppercase;
}

.nopadding-left {
    padding-left: 0 !important;
}

.nopadding-right {
    padding-right: 0 !important;
}

.page-title {
    margin-top: .727272727em; /* 16/22 */
}

.content-title {
    color: #363f48;
    margin: 1em 0 0.5em;
    font-family: "Roboto",sans-serif;
    font-size: 35px;
    font-weight: 300;
}

/*
Lists
--------------------------------
*/

.main-content ul {
    padding-left: 1.1em;
}

.main-content li {
    margin-bottom: 1em;
}

li h3,
li h4 {
    margin: 0;
}

li p {
    margin-top: 0;
}

/*
Links
==================================
*/

a {
    -webkit-transition: .2s;
       -moz-transition: .2s;
            transition: .2s;
}

a,
a:link,
a:visited {
    color: #0072ce;
    text-decoration: none;
}

a:hover {
    color: #7eb8dd;
    text-decoration: none;
}

a:active {
    color: #002d72;
    text-decoration: none;
}

a:focus {
    color: #0072ce;
    text-decoration: none;
}

a.title-link {
    color: #75787B;
    border-bottom: none;
}

a.title-link:hover,
a.title-link:active,
a.title-link:focus {
    color: #7eb8dd;
    border-bottom: none;
}

a.skip-link {
    color: #0072ce;
    border-bottom: none;
    padding: .25em;
}

a.skip-link:hover,
a.skip-link:active,
a.skip-link:focus {
    background-color: #0072ce;
    color: #fff;
    border-bottom: none;
}


/*
Navigation
==================================
*/

.sidebar-nav a {
  display: block;
  padding: 10px;
  -webkit-transition: unset;
  transition: unset;
}
.sidebar-nav a,
.sidebar-nav a:link,
.sidebar-nav a:visited {
  border-bottom: none;
  color: #75787b;
}
.sidebar-nav li:hover,
.sidebar-nav a:focus,
.sidebar-nav li:active,
.sidebar-nav .sidebar-nav-active {
  color: #75787b;
  border-left: 4px solid #2cb34a;
  background-color: transparent;
  border-bottom: 1px solid #babbbd;
}
.sidebar-nav li:hover,
.sidebar-nav li:active,
.sidebar-nav .sidebar-nav-active {
  padding-left: 0;
}
.sidebar-nav a:focus {
  padding-left: 6px;
}
.sidebar-nav li:hover a:focus,
.sidebar-nav li:active a:focus {
  border-left: none;
  padding-left: 10px;
}
.sidebar-nav ul {
  margin: 0;
  padding: 0;
  /*border-top: 1px solid @gray-50;*/
}
.sidebar-nav li {
  list-style: none;
  border-bottom: 1px solid #babbbd;
  font-size: 1.125em;
  padding-left: 4px;
}
.sidebar-nav li:last-child {
  border-bottom: none;
}


/*
Layout
==================================
*/

.logo {
    display: block;
}

.content {
  padding-top: 2em;
  padding-bottom: 2em;
}

/* offset the fixed position header for jump links */
section:before {
    display: block;
    content: "";
    height: 60px;
    margin: -60px 0 0;
}

.wrap {
    max-width: 1200px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
}

header {
    width: 100%;
    background-color: #fff;
    padding: 2em 0 0 0;
}


/*
Footer
==================================
*/

/* for sticky footer */
.container {
    display: table;
    height: 100%;
    width: 100%;
}

/*footer {
    display: table-row;
    height: 1px;
    border-top: 2px solid #babbbd;
    background: #f1f2f2;
    width: 100%;
    font-size: 0.875em;
}*/

footer .wrap {
  padding-top: 2em;
  padding-bottom: 2em;
}

.footer p a {
    color: #336699;
}

.footer h3 {
    font-size: 1em;
    margin-bottom: 0.4em;
}


/*
Helpers
==================================
*/

/* Hide from both screenreaders and browsers: h5bp.com/u */
.hidden {
    display: none !important;
    visibility: hidden;
}

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/* Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/* Hide visually and from screenreaders, but maintain layout */
.invisible {
    visibility: hidden;
}


/*
Style
==================================
*/

.intro {
    color: #75787B;
}

li h4 {
    margin: 0;
}

.license {
    font-family: "Avenir Next Demi", Arial, sans-serif;
    font-weight: normal;
    font-style: normal;
}

pre {
    max-width: 100%;
    font-size: 0.875em;
    overflow-y: scroll;
    background-color: #f1f2f2;
    padding: 10px;
}

/*
Post list
----------------------------------
*/

ul.posts {
    padding: 0;
}

.posts li {
    list-style: none;
}

.post-date {
    color: #75787B;
}

/*
Repo list
----------------------------------
*/

ul.repo-list {
    margin: .5em 0 1em 0;
    padding: 0;
}

.repo-list li {
    list-style: none;
}

.repo-list p {
    margin: 0;
    font-size: 0.875em;
}

.repo-list h4 {
    text-transform: none;
}

/*
Helper Classes
==================================
*/

/*
Clearfix list
----------------------------------
*/

.group:before,
.group:after {
    content: " ";
    display: table;
}

.group:after {
    clear: both;
}

.group {
    *zoom: 1;
}

/*
Desktop Styles
==================================
*/

@media screen and (min-width: 45em) and (min-height: 32.5em) {

    /*
    Typography
    ==============================
    */

    /*
    Layout
    ==============================
    */

    .logo {
        max-width: 30%;
        padding-right: 20px;
        float: right;
    }

    aside {
        width: 30%;
        float: left;
    }

    .main-content {
        width: 67%;
        float: right;
        margin-bottom: 120px;
    }

    /*
    Navigation
    ==============================
    */


    /*
    Style
    ==============================
    */

    /*
    Repo list
    ------------------------------
    */

    .repo-list li {
        list-style: none;
        display: block;
        float: left;
        height: 4.0625em;
        max-height: 4.0625em;
        background-color: #E7E7E6;
        border-left: 1px solid #BABBBD;
        width: 30%;
    }

    .repo-list a:link,
    .repo-list a:visited {
        display: block;
        max-height: 4.0625em;
        background-color: #E7E7E6;
        border-bottom: none;
        padding: .625em 1em 1em 1em;
    }

    .repo-list a:hover {
        color: #4D5F87;
        background-color: #CDE3F1;
    }

    .repo-list li:first-child {
        text-align: center;
        border-left: none;
        line-height: 60px;
        padding: .625em 1em;
        width: 10%;
    }

}

@media screen and (max-width: 54.375em) and (min-height: 32.5em) {

    /* keep the repo list containers the same height, but account for the need for more height */

    .repo-list li {
        height: 6em;
        max-height: 6em;
    }

    .repo-list a:link,
    .repo-list a:visited {
        max-height: 6em;
    }
}

/*
Mobile Styles
==================================
*/

@media screen and (max-width: 40.5em) {

    .main-content {
        margin-top: 1.5em;
    }

}



/*
Tax Challenge Showcase
==================================
*/

a, a:link, a:visited {
    color: #336699 !important;
}

.row.border {
     border-top: 1px solid #d2d6db;
}

.ratio4-3 {
    width: 100%;
    background-image: url(../../IRSTaxDesignChallenge.png);
    background-image: url(../../TaxDesignChallengeLogoHorizontal.svg);
    background-size: cover;
    height: 50px;
    width: 390px;
    padding: 0;
    height: 38px;
    width: 250px;
}


.wrapmain {
    margin-bottom: 4em;
}

.content-container {
    margin: 1em 0 1em 0;
    display: inline-block;
    width: 100%;
}

header {
    padding: 2em 0 1em;
}

.navbar-toggle {
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    float: left;
    margin-bottom: 0;
    margin-right: 0;
    margin-top: 20px;
    padding: 9px 10px;
    position: relative;
}

.navbar {
    border: 0px solid transparent;
    margin-bottom: 0px;
}

.navbar-default {
    background: none;
}

.nav.navbar-nav.navbar-right li a {
    text-transform: uppercase;
    text-decoration: underline;
    color: #275284;
}

.navbar-nav {
    margin-top: 20px;
}

.navbar-nav > li:first-child {
    border-right: 1px solid #275284;
}

.navbar-nav > li:last-child > a {
    padding-right: 0;
}

.nav > li > a {
    display: inline;
}

.gallery-nav a {
    text-decoration: underline;
}

.title {
    color: #275284;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 1.8em;
}

.thumbnail {
    border-radius: 0;
    overflow: hidden;
    height: 230px;
    border: 1px solid #eee;
    padding: 0;
}

    @media screen and (max-width: 40.5em) {
        .thumbnail {
            height: 170px;
        }
    }

    @media screen and (max-width: 30.5em) {
        .thumbnail {
            height: 90px;
        }
    }

.thumbnail img {
    background-size: cover;
    width: 100%;
}

.hero-unit {
    height: 300px;
    background: #eee;
    color: #ff8400;
    background-size: cover;
    background: #eee url('../../../assets/img/tax_design_challenge_hero-2.jpeg') repeat scroll right center / cover; 
    position: relative;
}

.hero-inset {
    position: absolute;
    padding: 24px 20px;
    top: 80px;
    width: 55%;
    font-size: 1.2em;
    z-index: 2;
}

.hero-unit .inset-bg {
    background: transparent;
    position: absolute;
    top: 0; right: 0;
    bottom: 0; left: 0;
    opacity: 0.93;
    padding: 24px 20px;
    width: 100%;
    height: 100%;
    right: 0;
    font-size: 1.2em;
    z-index: -1;
}

.hero-inset .headline {
    color: #747474; 
    font-size: 20px;
    margin-bottom: 1.2em;
}

.hero-inset .title {
    color: #000;
    font-size: 38px;
}

@media screen and (max-width: 55em) {
    .hero-inset {
        top: 70px;
        left: 0;
    }

    .hero-unit .inset-bg {
        background: #fff;
        opacity: 0.93;
    }

    .hero-inset .headline {
        font-size: 15px;
    }

    .hero-inset .title {
        font-size: 30px;
    }
}

.hero-inset span {
    color: #838383;
    font-style: italic;
}

    @media screen and (max-width: 40.5em) {
        .hero-inset {
            position: absolute;
            /*top: 40px;*/
            width: 90%;
        }

        .nav > li > a {
            padding: 0;
        }
    }

    @media screen and (max-width: 767px) {
        .navbar-nav > li:first-child {
            border-right: 0;
        }

        #navbar .nav.navbar-nav li {
            line-height: 2em;
        }
    }

.hero-inset a.btn {
    background-color: transparent;
    border-color: #366797;
    border-radius: 0;
    padding: 15px 35px;
    text-transform: uppercase;
    font-size: 0.9em;
    color: #366797 !important;
}

.hero-inset a.btn:hover {
    background-color: #366797;
    color: #fff !important;
}

a.btn-ghost {
    border: 2px solid #fff;
    background: transparent;
    color: #fff;
    text-transform: uppercase;
}

a.btn-ghost.hero-sticky {
    position: absolute;
    bottom: 30px;
    right: 40px;
}

.title-strong {
    font-weight: bold;
    display: inline;
}

.strong {
    font-weight: bold;
}

.uppercase {
    text-transform: uppercase !important;
}


/* Sidebar */
.sidebar-container {
    margin-top: 1.5em;
    background: #eeeeee;
    position: relative;;
}

.sidebar-container .title {
    margin: 10px 0 35px;
}

.sidebar-items-container {
    height: 60px;
    width: 100%;
    font-family: 'Roboto', sans-serif;
}

.sidebar-items-container.large {
    height: 120px;
}

.sidebar-circle {
    position:relative;
    background:#ff8400;
    width:60px;
    height:60px;
    text-align:center;    
    -webkit-border-radius: 50px;  
    -moz-border-radius: 50px;  
    border-radius: 50px;
    border: 1px solid #fff;
}

.sidebar-circle p {
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    color:#fff;
    vertical-align:middle;
    height:40px; 
    position: inherit;
    top:12%;        
}

.sidebar-rect {
    position:relative;
    background:#ff8400;
    width:60px;
    height:50px;
    text-align:center;    
    -webkit-border-radius: 5px;  
    -moz-border-radius: 5px;  
    border-radius: 5px;
    border: 1px solid #fff;
}

.sidebar-rect p {
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    color:#fff;
    vertical-align:middle;
    height:40px; 
    position: inherit;
    top:5%;        
}

/* Design Submissions 48 */
.sidebar-box.sb-1 {
    padding: 7px 25px 7px 10px;
}
.sc-1 {
    left: 150px;
    top: -40px;
}

/* TaxDesignChallenge.com Visitors */
.sidebar-box.sb-2 {
    padding: 7px 25px 7px 10px;
    margin-left: 15px;
}
.sc-2 {
    left: 0px;
    top: 0px;
    width: 130px;
}

/* Challenge.gov Followers 80 */
.sidebar-box.sb-3 {
    padding: 7px 25px 7px 10px;
    top: 0;
    margin-left: 45px;
}
.sc-3 {
    left: 220px;
    top: -40px;
}

/* Prize Categories */
.sidebar-box.sb-4 {
    padding: 7px 10px 7px 25px;
    margin-left: 50px;
}
.sc-4 {
    left: 0px;
    top: -40px;
    width: 60px;
}

/* IRS Judges 5 */
.sidebar-box.sb-5 {
    padding: 7px 25px 7px 10px;
    top: 0;
    margin-left: 100px;
}
.sc-5 {
    left: 190px;
    top: -40px;
}

/* Challenge Winners */
.sidebar-box.sb-6 {
    padding: 7px 10px 7px 25px;
    margin-left: 45px;
}

.sc-6 {
    left: 0px;
    top: -40px;
    width: 60px;
}

.sidebar-box {
    background: #a5a2a2;
    padding: 8px;
    color: #fff;
}

.footer .container {
    padding: 15px 0 25px 0;
    text-align: center;
    border-top: 1px solid #eee;
}

.footer .container a {
    text-decoration: underline;
}

.content-container h3 {
    color: #275284;
}

/* Submissions */

.content-submission-container {
    margin: 0.8em 0 2em 0;
}

.content-submission-container .thumbnail-gallery {
    border: 1px solid #000;
    height: 100%;
    width: 100%;
}

/* Winners */

.content-submissions-container {
    background: #fff;
    padding: 0 12px 0 0;
    border: 1px solid #eee;
    margin-bottom: 2em;
    float: left;
    min-height: 184px;
}

.preview-container {
    margin-left: 200px;
}

.content-submissions-container img {
    float: left;
    margin-right: 25px;
    width: 172px;
}

    @media screen and (max-width: 40.5em) {
        .content-submissions-container img {
            margin-bottom: 1em;
        }

        .content-submissions-container {
            padding-right: 0;
        }
    }

    @media screen and (max-width: 30.5em) {
        .content-submissions-container img {
            float: none;
        }

        .preview-container {
            margin-left: 0px;
        }

        .submission-thumb img {
            width: 100%;
        }
    }


.content-submissions-container .header-title,
.content-submission-container .header-title {
    margin-top: 12px;
}

.content-submissions-container .title,
.content-submission-container .title {
    font-size: 1em;
    font-weight: bold;
    color: #000;
    display: inline;
}

.content-submissions-container a,
.content-submission-container a {
    text-decoration: underline;
}


.other-submissions-container .col-sm-4 {
    margin-bottom: 10px;
}

.content-container h1.title {
    font-size: 30px;
    margin: 2em 0 0.5em;
    color: #363f48;
}

.content-container p {
    margin-bottom: 1.5em;
}

.showcase-header-container {

}

.showcase-header-container p:first-child {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
    margin-top: 20px; text-transform: uppercase; color: #363f48;
}

.showcase-header-container p:nth-child(2) {
    font-size: 15px;
}

.showcase-header-container a {
    text-decoration: underline;
    margin-bottom: 40px;
    display: inline-block;
}

.winners-group-container {
    margin-bottom: 2.5em;
}

.winners-group-container p.title {
    margin-top: 1em;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
}

.winners-group-container .attrib {
    margin-bottom: 1em;
}


/* ==============================================================
   Ideas Catalog
   ============================================================== */

.temp-inactive {
    color: #d1d1d1 !important;
}

.content-container .main h2 {
    margin: 25px 0 10px;
    font-size: 1.2em;
    font-weight: 500;
}

.content-container .main p {
    font-size: 1.1em;
}

.grid:after {
  content: '';
  display: block;
  clear: both;
}

.grid-sizer {
    width: 33.33333333333333%;
    width: 25%;
    background: white;
}

    @media only screen and (max-width : 1200px) {
        .grid-sizer {
            width: 33.3333%;
        }

    }

    @media only screen and (max-width : 768px) {
        .grid-sizer {
            width: 50%;
        }
    }

    @media screen and (max-width: 767px) {
        .catalog-wrapper {
            padding-left: 0;
            padding-right: 0;
        }
    }

/* ------------ Hide inner gallery images */

.element-item a.fancybox:nth-child(n+2) div.thumbnail-wrapper div,
.element-item a.fancybox:nth-child(n+2) div.thumbnail-wrapper img {
    display: none;
}

/*.element-item a:not(:first-child) {
    display: none;
}*/

/* ------------ Isotope */
.grid .element-item {
    padding: 10px 10px;
    margin: 0;
}

/* ------------ Navigation */
#accordion {
    margin-top: 0;
    float: left;
    padding-right: 42px !important;
}

    @media screen and (max-width: 991px) {
        #accordion {
            padding-right: 0 !important;
        }
    }

#accordion .panel {
    background: #fff;
    border-radius: 0 !important;
    border: 0;
}

.accordion-filtr-nocontent + div > div {
    display: none;
    visibility: hidden;
    background: transparent;
}

#accordion.nav-gallery {
    width: 100%;
}

#accordion .panel + .panel {
    margin-top: 0px;
}

#accordion .panel .accordion-filtr-nocontent {
    padding: 0;
}

/* ------------ Thumb captions (hide) */
.item-desc {
    display: none;
    background-color: rgba(0,0,0,0.5);
    color: white;
    position: absolute;
    text-transform: uppercase;
    text-align: center;
    padding: 1rem;
    z-index: 1;
    bottom: 1rem;
    left: 1rem;
    right: 1rem;
}

/* ------------ Hamburger nav styles */
.innovate-menu .navbar-inverse .navbar-toggle {
    border-color: #366797;
    background-color: #366797;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    float: left;
    width: 100%;
    margin-bottom: 0;
    margin-right: 0;
    margin-top: 20px;
    padding: 9px 10px;
    position: relative;
    margin-bottom: 1em;
}

.innovate-menu.row.nav1 #navbarCollapse {
    height: 215px !important;
}

.innovate-menu .navbar-inverse .navbar-toggle:hover,
.innovate-menu .navbar-inverse .navbar-toggle:focus {
    background-color: #7eb8dd;
}

.innovate-menu .navbar-inverse .navbar-collapse,
.innovate-menu .navbar-inverse .navbar-form {
    border: 0 !important;
}

.innovate-menu .navbar-inverse .navbar-collapse .simplefilter.nav.nav-gallery {
    padding: 0;
    margin: 0;
}

.innovate-menu .navbar-collapse {
    overflow-x: hidden;
}

/* ------------ Navbar collapse */
#top-menu.navbar #navbarCollapse {
    padding-right: 0px !important;
    padding-left: 0px !important;
}

.innovate-menu .navbar-inverse {
    background: transparent;
}

.innovate-menu .navbar-collapse {
    max-height: none;
    margin-bottom: 1em;
}

    @media screen and (min-width: 767px) {
        #navbarCollapse {
            height: auto !important;
        }
    }

/* ------------ Dropdown submenu */
.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

.dropdown-menu {
    margin-top: 0.1rem !important;
    padding: 0 !important;
}

.dropdown-menu a:link, .dropdown-menu a:hover, .dropdown-menu a:active, .dropdown-menu a:focus, .dropdown-menu a:visited {
    background-color: #1a1d19 !important;
    padding-top: 0.75rem !important;
}

/* ------------ Fancybox 3 */
.fancybox-caption-wrap .fancybox-caption a {
    color: #fff !important;
}

.fancybox-enabled .fancybox-button::before,
.fancybox-enabled .fancybox-button::after {
    visibility: visible !important;
    display: inline-block !important;
}

.fancybox-enabled .fancybox-container.fancybox-show-controls .fancybox-controls .fancybox-infobar button.fancybox-button {
    display: inline-block !important;
}

.fancybox-caption {
    padding: 10px 0 30px !important;
}

.fancybox-caption-title {
    font-weight: 200;
    font-size: 1.2em;
    margin-bottom: 0px;
    display: inline-block;
}

.caption-blurb {
    font-weight: 100;
    margin-top: 8px;
    line-height: 1.4em;
    display: inline-block;
}

.caption-blurb::before {
    content: " | ";
    font-weight: 600;
    color: #B74D1C;
}

.fancybox-button--right {
    position: absolute;
    right: 0;
    border-bottom-right-radius: 0px !important;
}

.fancybox-button--left {
    position: absolute;
    left: 0;
    border-bottom-left-radius: 0px !important;
}

/*.grid-item a.fancybox:first-of-type .thumbnail-wrapper {
    border: 1px solid transparent;
}

.grid-item a.fancybox:first-of-type .thumbnail-wrapper:hover {
    border: 1px solid transparent;
}*/

.fancybox img {
    /*filter: none;
    -webkit-filter: grayscale(60%);
    -moz-filter:    grayscale(60%);
    -ms-filter:     grayscale(60%);
    -o-filter:      grayscale(60%);*/
    cursor: pointer;
    transition: all 300ms ease;
}

.fancybox img:hover {
    filter: none;
    -webkit-filter: grayscale(0%);
    -moz-filter:    grayscale(0%);
    -ms-filter:     grayscale(0%);
    -o-filter:      grayscale(0%);
}

    @media screen and (max-width: 767px) {
        .catalog-wrapper .grid .element-item a.fancybox img.img-responsive {
            width: 100%;
        }
    }

.fancybox-caption {
    font-size: 17px !important;
}

@media screen and (max-width: 767px) {
    .fancybox-caption {
        font-size: 14px !important;
    }
}

/* ------------ Category */
#accordion .panel .panel-heading {
    background: transparent;
    border-radius: 0;
    padding: 0;
}

#accordion .panel > .panel-heading {
    border-bottom: 1px solid #5c5c5c !important;
}

#accordion .panel > .panel-heading.active {
    -webkit-box-shadow: inset 8px 0px 0px -3px rgba(92,92,92,1);
    -moz-box-shadow: inset 8px 0px 0px -3px rgba(92,92,92,1);
    box-shadow: inset 8px 0px 0px -3px rgba(92,92,92,1);
}

#accordion .panel > .panel-heading.active + div {
    border-bottom: 1px solid #5c5c5c;
}

#accordion .panel > .panel-heading + .panel-collapse .panel-body {
    border-top: none;
}

#accordion .panel .panel-heading h4 {
    padding: 0.75rem 1.5rem;
    cursor: pointer;
}

#accordion .panel .panel-heading h4.panel-title {
    padding: 0;
}

#accordion .panel .panel-heading h4.panel-title a {
    color: #5c5c5c !important;
    text-decoration: none !important;
    border-radius: 0;
    cursor: pointer;
    display: inline-block;
    width: 100%;
    border: medium none;
    font-weight: 400;
    padding: 1rem 1.5rem;
    text-transform: uppercase;
    transition: background-color 0.25s ease 0s;
}

#accordion .panel .panel-heading.active h4 a {
    font-weight: 500;
}

#accordion .panel .panel-heading h4 > a:hover {
    -webkit-box-shadow: inset 8px 0px 0px -3px rgba(92,92,92,1);
    -moz-box-shadow: inset 8px 0px 0px -3px rgba(92,92,92,1);
    box-shadow: inset 8px 0px 0px -3px rgba(92,92,92,1);
    background: #d8d8d8;
}

#accordion .panel .panel-heading h4 a:active,
#accordion .panel .panel-heading h4 a:focus {
    -webkit-box-shadow: inset 8px 0px 0px -3px rgba(92,92,92,1);
    -moz-box-shadow: inset 8px 0px 0px -3px rgba(92,92,92,1);
    box-shadow: inset 8px 0px 0px -3px rgba(92,92,92,1);
    background: #d8d8d8;
}

/* ------------ Subcategory (list) */
#accordion ul {
    list-style: none;
}

#accordion ul li {
    font-size: 1.1em;
    cursor: pointer;
    padding: 0;
    text-align: left;
    background: transparent;
    text-transform: none;
    border: none;
    color: #5c5c5c;
}

#accordion .panel .panel-body ul li:hover,
#accordion .panel .panel-body ul li:visited,
#accordion .panel .panel-body ul li:active,
#accordion .panel .panel-body ul li:focus,
.simplefilter li.active {
    color: #5c5c5c;
    box-shadow: none;
}

#accordion .panel-body ul li.iso-btn:last-child {
    margin-bottom: 0;
}

#accordion .panel .panel-body {
    padding: 0;
}

#accordion .panel .panel-collapse .panel-body ul li.iso-btn {
    padding: 7px 15px;
}

#accordion .panel .panel-collapse .panel-body ul li.iso-btn:hover {
    background: transparent;
    text-decoration: underline;
}

#accordion .panel .panel-collapse.collapse.in .panel-body ul li.iso-btn.active {
    background: #d8d8d8;
}

#accordion .panel .panel-collapse .panel-body ul li.iso-btn.active:hover {
    background: #d8d8d8;
    -webkit-box-shadow: inset 8px 0px 0px -3px rgba(92,92,92,1);
    -moz-box-shadow: inset 8px 0px 0px -3px rgba(92,92,92,1);
    box-shadow: inset 8px 0px 0px -3px rgba(92,92,92,1);
}

#accordion .panel .panel-collapse .panel-body ul {
    padding-left: 0;
}

#accordion .panel-collapse ul {
    margin-bottom: 0;
}

#accordion .panel .panel-collapse.collapse.in ul li.iso-btn.active {
    box-shadow: none;
}

/* ------------ Header */
.catalog-header-container {
    position: relative;
    margin-bottom: 25px;
    min-height: 210px;
    height: 100%;
}

.catalog-header-container .header-container {
    left: 130px;
    position: relative;
    top: 80px;
    width: 100%;
}

.catalog-header-container .header-bg {
    background: rgba(0, 0, 0, 0) url("../img/Ideas_Catalog_Header_Image.svg") no-repeat scroll 0 0 / 960px 190px;
    display: block;
    height: 200px;
    text-indent: -9999px;
    width: 1000px;
    position: absolute;
    left: 0;
    background-size: 100% auto;
    background-size: cover;
    transition: .4s ease;
}

.catalog-header-container .content-container {
    margin: 0;
}

.catalog-header-container .content-container .title {
    position: absolute;
    top: 0;
    left: 110px;
    font-size: 2.5em;
}

.content-container .main {
    left: 412px;
    top: 50px;
    right: 0;
    position: absolute;
    width: auto;
}

    @media screen and (max-width: 767px) {
        .catalog-header-container .header-bg {
            background: rgba(0, 0, 0, 0) url("../img/Ideas_Catalog_Header_Image.svg") no-repeat scroll -90px 0 / 960px 190px;
            display: block;
            height: 200px;
            text-indent: -9999px;
            width: 100%;
            position: absolute;
            left: 0;
            background-size: 100% auto;
            background-size: contain;
            background-size: cover;
        }

        @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
             /* IE10+ CSS styles go here */
             .catalog-header-container .header-bg {
                width: 1000px;
            }
        }

        .content-container .main {
            position: static;
            margin: 0;
        }

        .catalog-header-container {
            margin-bottom: 0;
        }

        .catalog-header-container .content-container .title {
            margin-left: 15px;
            margin-right: 15px;
            position: static;
        }
    }

    @media only screen and (min-width : 768px) and (max-width : 854px) {
        .catalog-header-container {
            margin-bottom: 55px;
        }
    }

    @media only screen and (max-width : 385px) {

        .catalog-header-container .header-bg {
            background: rgba(0, 0, 0, 0) url("../img/Ideas_Catalog_Header_Image.svg") no-repeat scroll -110px 0 / 960px 190px;
        }
    }

.content-container .main h6 {
    font-size: 1.1em;
}

/* Winner thumbs */
.winner-wrapper {
    position: relative;
}

.winner {
    background: rgba(0, 0, 0, 0) url("../img/winner-banner-2016.svg") no-repeat scroll 0 0;
    height: 127px;
    position: absolute;
    right: 0;
    top: 0;
    width: 123px;
    z-index: 2;
    background-size: 123px;
}

/* Accordion Panels */
#accordion .panel-group {
    margin: 0;
}

.accordion-toggle {
    text-decoration: none !important;
}

#accordion .panel .panel-heading h4.panel-title button.accordion-toggle {
    border: 0;
    text-align: left;
    background: transparent;
    border: medium none;
    border-radius: 0;
    color: #5c5c5c !important;
    cursor: pointer;
    display: inline-block;
    font-weight: 400;
    padding: 1rem 1.5rem;
    text-decoration: none !important;
    text-transform: uppercase;
    transition: background-color 0.25s ease 0s;
    width: 100%;
}

#accordion .panel .panel-heading.active h4.panel-title button.accordion-toggle {
    box-shadow: 8px 0 0 -3px rgb(92, 92, 92) inset;
}

#accordion .panel .panel-body ul li.iso-btn a {
    text-decoration: none !important;
    color: #5c5c5c !important;
}

#accordion button, input[type="color"]:-moz-system-metric(color-picker-available),
#accordion input[type="reset"], input[type="button"],
#accordion input[type="submit"] {
    border: none !important;
}

#accessibility-accordion .panel .panel-heading h4.panel-title a.accordion-toggle,
#accessibility-accordion2 .panel .panel-heading h4.panel-title a.accordion-toggle {
    color: #000 !important;
    text-transform: none;
}

#accessibility-accordion .panel .panel-heading,
#accessibility-accordion2 .panel .panel-heading {
    border-color: transparent !important;
    background: #E0E0E0;
    border-radius: 0px !important;
    padding: 15px;
}

#accessibility-accordion .panel .panel-heading:hover,
#accessibility-accordion2 .panel .panel-heading:hover {
    background: #adadad;
}


/* Gallery Thumbnails */

.thumbnail-wrapper img {
    background-size: 100% auto !important;
}

.thumbnail-wrapper .caption {
  position: relative;
  height: 14rem;
}

.thumbnail-wrapper .caption p {
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%,-50%);
}

.thumbnail-wrapper {
    position: relative;
    overflow: hidden;
}
 
.thumbnail-wrapper .caption {
    position: absolute;
    top: -100%;
    right: 0;
    padding-top: 25%;
    background: #34679a;
    width: 100%;
    height: 100%;
    text-align: center;
    color: #fff !important;
    z-index: 2;
    /*-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    transition: opacity .2s ease-out;
    -moz-transition: opacity .2s ease-out;
    -webkit-transition: opacity .2s ease-out;
    -o-transition: opacity .2s ease-out;*/
}

.thumbnail-wrapper .caption p {
    font-size: 1.2em;
    margin: auto;
    width: 70%;
    border: 1px solid #fff;
    background: #284964;
    padding: 10px 20px;
}

.thumbnail-wrapper:hover .caption {
    top: 0%;
    opacity: 0.85;
}
@media (max-width : 768px) {
    .thumbnail-wrapper .caption {
        color: red;
    }
}

/* Tables */

caption {
    margin: 0 0 1.2em 0;
    font-weight: bold;
}


/* Accessibility */

.glyphicon-chevron-up::before {
    content: "";
}

.accessibility-container {
    margin-top: 1.5em !important;
    width: 100% !important;
}

#accessibility-accordion table {
    table-layout: fixed;
    word-wrap: break-word;
}

#accessibility-accordion thead,
#accessibility-accordion2 thead {
    background: gray;
    color: #fff;
}

#accessibility-accordion.accessibility-container,
#accessibility-accordion2.accessibility-container {
}

#accessibility-accordion.accessibility-container .panel,
#accessibility-accordion2.accessibility-container .panel {
    border-radius: 0px !important;
}

#accessibility-accordion.accessibility-container .panel .panel-heading,
#accessibility-accordion2.accessibility-container .panel .panel-heading {
    cursor: pointer;
}

#accessibility-accordion.accessibility-container .panel .panel-heading h4.panel-title,
#accessibility-accordion2.accessibility-container .panel .panel-heading h4.panel-title {
}

#accessibility-accordion button.accordion-toggle,
#accessibility-accordion2 button.accordion-toggle {
    border: 0px !important;
    background: transparent !important;
}

/* TDC */

.submissions-other-container .thumb {
    margin-bottom: 10px;
}

.submissions-other-container .thumbnail {
    height: auto !important;
}

.winners-group-container .thumb a.thumbnail {
    border-color: transparent;
}





/*#accessibility-accordion .panel-heading:before {
    position: absolute;
    right: 15px;
    top: 10px;
    font-family: 'Glyphicons Halflings';
    content: "\2212";
    color: #336699;
}
#accessibility-accordion .panel-heading.collapsed:before {
    content: "\2b";
}*/


.submissions-other-container .thumb,
.submissions-other-container .thumb a.thumbnail {
    border-color: transparent !important;
}




.fancybox-nav span {
    visibility: visible !important;
}




/* 508 */
/*.masthead {
  margin: 32px 0;
}

button:hover,
button:focus,
a:hover,
a:focus {
  outline: none;
  color: inherit;
  text-decoration: none;
}

.nav > li > a {
  padding: 0 16px;
  margin: 0 8px;
}

.jumbotron .mdl-button {
  background-color: #008b00;
  color: #FFFFFF;
}

.mdl-button.raised {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14),
              0 3px 1px -2px rgba(0, 0, 0, .2),
              0 1px 5px 0 rgba(0, 0, 0, .12);
}

.nav > li > a:hover,
.nav > li > a:focus,
.jumbotron .mdl-button:hover,
.jumbotron .mdl-button:focus,
.mdl-button.raised:hover,
.mdl-button.raised:focus {
  background: #C2185B;
  color: #FFFFFF;
  text-decoration: underline;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14),
              0 3px 1px -2px rgba(0, 0, 0, .2),
              0 1px 5px 0 rgba(0, 0, 0, .12);
}*/
    

.thumbnail {
    margin-bottom: 0 !important;
}

.submissions-other-container .thumb {
    margin: 0 !important;
    padding: 10px !important;
}
