/*
Main.css
==================================
Begin with generic 'mobile first' styles
*/

/*
Normalize the box model
==================================
*/

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
 }

/*
global styles
==================================
*/

html, body {
    height: 100%;
}

/*
Typography
==================================
*/

body {
    font-family: "Avenir Next", Arial, sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 1.466666667;
}

h1,
h3,
h4,
h5,
strong {
    font-family: "Avenir Next Demi", "Avenir Next", Arial, sans-serif;
    font-weight: 600;
}

.site-title {
    font-size: 1.625em;
    font-family: "Avenir Next", Arial, sans-serif;
    font-weight: normal;
    color: #919395;
    margin: 0;
    line-height: 1.2941176470588236;
    display: inline-block;
}

h2 {
    font-weight: 400;
    font-style: normal;
    font-size: 1.375em;
    margin: 1.4em 0 0 0;
}

h4 {
    font-size: 1em;
    text-transform: uppercase;
}

.page-title {
    margin-top: .727272727em; /* 16/22 */
}

/*
Lists
--------------------------------
*/

.main-content ul {
    padding-left: 1.1em;
}

.main-content li {
    margin-bottom: 1em;
}

li h3,
li h4 {
    margin: 0;
}

li p {
    margin-top: 0;
}

/*
Links
==================================
*/

a {
    -webkit-transition: .2s;
       -moz-transition: .2s;
            transition: .2s;
}

a,
a:link,
a:visited {
    color: #0072ce;
    text-decoration: none;
}

a:hover {
    color: #7eb8dd;
    text-decoration: none;
}

a:active {
    color: #002d72;
    text-decoration: none;
}

a:focus {
    color: #0072ce;
    text-decoration: none;
}

a.title-link {
    color: #75787B;
    border-bottom: none;
}

a.title-link:hover,
a.title-link:active,
a.title-link:focus {
    color: #7eb8dd;
    border-bottom: none;
}

a.skip-link {
    color: #0072ce;
    border-bottom: none;
    padding: .25em;
}

a.skip-link:hover,
a.skip-link:active,
a.skip-link:focus {
    background-color: #0072ce;
    color: #fff;
    border-bottom: none;
}


/*
Navigation
==================================
*/

.sidebar-nav a {
  display: block;
  padding: 10px;
  -webkit-transition: unset;
  transition: unset;
}
.sidebar-nav a,
.sidebar-nav a:link,
.sidebar-nav a:visited {
  border-bottom: none;
  color: #75787b;
}
.sidebar-nav li:hover,
.sidebar-nav a:focus,
.sidebar-nav li:active,
.sidebar-nav .sidebar-nav-active {
  color: #75787b;
  border-left: 4px solid #2cb34a;
  background-color: transparent;
  border-bottom: 1px solid #babbbd;
}
.sidebar-nav li:hover,
.sidebar-nav li:active,
.sidebar-nav .sidebar-nav-active {
  padding-left: 0;
}
.sidebar-nav a:focus {
  padding-left: 6px;
}
.sidebar-nav li:hover a:focus,
.sidebar-nav li:active a:focus {
  border-left: none;
  padding-left: 10px;
}
.sidebar-nav ul {
  margin: 0;
  padding: 0;
  /*border-top: 1px solid @gray-50;*/
}
.sidebar-nav li {
  list-style: none;
  border-bottom: 1px solid #babbbd;
  font-size: 1.125em;
  padding-left: 4px;
}
.sidebar-nav li:last-child {
  border-bottom: none;
}


/*
Layout
==================================
*/

.logo {
    display: block;
}

.content {
  padding-top: 2em;
  padding-bottom: 2em;
}

/* offset the fixed position header for jump links */
section:before {
    display: block;
    content: "";
    height: 60px;
    margin: -60px 0 0;
}

.wrap {
    max-width: 1200px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
}

header {
    width: 100%;
    background-color: #fff;
    padding: 2em 0 0 0;
}


/*
Footer
==================================
*/

/* for sticky footer */
.container {
    display: table;
    height: 100%;
    width: 100%;
}

footer {
    display: table-row; /* for sticky footer */
    height: 1px; /* for sticky footer */
    border-top: 2px solid #babbbd;
    background: #f1f2f2;
    width: 100%;
    font-size: 0.875em;
}

footer .wrap {
  padding-top: 2em;
  padding-bottom: 2em;
}


/*
Helpers
==================================
*/

/* Hide from both screenreaders and browsers: h5bp.com/u */
.hidden {
    display: none !important;
    visibility: hidden;
}

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/* Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/* Hide visually and from screenreaders, but maintain layout */
.invisible {
    visibility: hidden;
}


/*
Style
==================================
*/

.intro {
    color: #75787B;
}

li h4 {
    margin: 0;
}

.license {
    font-family: "Avenir Next Demi", Arial, sans-serif;
    font-weight: normal;
    font-style: normal;
}

pre {
    max-width: 100%;
    font-size: 0.875em;
    overflow-y: scroll;
    background-color: #f1f2f2;
    padding: 10px;
}

/*
Post list
----------------------------------
*/

ul.posts {
    padding: 0;
}

.posts li {
    list-style: none;
}

.post-date {
    color: #75787B;
}

/*
Repo list
----------------------------------
*/

ul.repo-list {
    margin: .5em 0 1em 0;
    padding: 0;
}

.repo-list li {
    list-style: none;
}

.repo-list p {
    margin: 0;
    font-size: 0.875em;
}

.repo-list h4 {
    text-transform: none;
}

/*
Helper Classes
==================================
*/

/*
Clearfix list
----------------------------------
*/

.group:before,
.group:after {
    content: " ";
    display: table;
}

.group:after {
    clear: both;
}

.group {
    *zoom: 1;
}

/*
Desktop Styles
==================================
*/

@media screen and (min-width: 45em) and (min-height: 32.5em) {

    /*
    Typography
    ==============================
    */

    /*
    Layout
    ==============================
    */

    .logo {
        max-width: 30%;
        padding-right: 20px;
        float: right;
    }

    aside {
        width: 30%;
        float: left;
    }

    .main-content {
        width: 67%;
        float: right;
        margin-bottom: 120px;
    }

    /*
    Navigation
    ==============================
    */


    /*
    Style
    ==============================
    */

    /*
    Repo list
    ------------------------------
    */

    .repo-list li {
        list-style: none;
        display: block;
        float: left;
        height: 4.0625em;
        max-height: 4.0625em;
        background-color: #E7E7E6;
        border-left: 1px solid #BABBBD;
        width: 30%;
    }

    .repo-list a:link,
    .repo-list a:visited {
        display: block;
        max-height: 4.0625em;
        background-color: #E7E7E6;
        border-bottom: none;
        padding: .625em 1em 1em 1em;
    }

    .repo-list a:hover {
        color: #4D5F87;
        background-color: #CDE3F1;
    }

    .repo-list li:first-child {
        text-align: center;
        border-left: none;
        line-height: 60px;
        padding: .625em 1em;
        width: 10%;
    }

}

@media screen and (max-width: 54.375em) and (min-height: 32.5em) {

    /* keep the repo list containers the same height, but account for the need for more height */

    .repo-list li {
        height: 6em;
        max-height: 6em;
    }

    .repo-list a:link,
    .repo-list a:visited {
        max-height: 6em;
    }
}

/*
Mobile Styles
==================================
*/

@media screen and (max-width: 40.5em) {

    .main-content {
        margin-top: 1.5em;
    }

}



/*
Tax Challenge Showcase
==================================
*/

.ratio4-3 {
    width: 100%;
    background-image: url(../../IRSTaxDesignChallenge.png);
    background-image: url(../../TaxDesignChallengeLogoHorizontal.svg);
    background-size: cover;
    height: 50px;
    width: 390px;
    padding: 0;
    /*padding-bottom: calc(20% * 3 / 4);*/
    height: 38px;
    width: 250px;
}

    @media screen and (max-width: 767px) {

        /*.ratio4-3 {
            width: 100%;
            background-image: url(../../IRSTaxDesignChallenge.png);
            background-image: url(../../TaxDesignChallengeLogoHorizontal.svg);
            background-size: cover;
            height: 0;
            padding: 0;
            padding-bottom: calc(20% * 3 / 4);
        }*/
    }


.wrapmain {
    margin-bottom: 4em;
}

.content-container {
    margin: 1em 0 1em 0;
    display: inline-block;
    width: 100%;
}

header {
    padding: 2em 0 1em;
}

.navbar-toggle {
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    float: left;
    margin-bottom: 0;
    margin-right: 0;
    margin-top: 20px;
    padding: 9px 10px;
    position: relative;
}

.navbar {
    border: 0px solid transparent;
    margin-bottom: 0px;
}

.navbar-default {
    background: none;
}

.nav.navbar-nav.navbar-right li a {
    text-transform: uppercase;
    text-decoration: underline;
    color: #275284;
}

.navbar-nav {
    margin-top: 20px;
}

.navbar-nav > li:first-child {
    border-right: 1px solid #275284;
}

.navbar-nav > li:last-child > a {
    padding-right: 0;
}

.nav > li > a {
    display: inline;
}

.gallery-nav a {
    text-decoration: underline;
}

.title {
    color: #275284;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 1.8em;
}

.thumbnail {
    border-radius: 0;
    overflow: hidden;
    height: 230px;
    border: 1px solid #eee;
    padding: 0;
}

    @media screen and (max-width: 40.5em) {
        .thumbnail {
            height: 170px;
        }
    }

    @media screen and (max-width: 30.5em) {
        .thumbnail {
            height: 90px;
        }
    }

.thumbnail img {
    background-size: cover;
    width: 100%;
}

.hero-unit {
    height: 300px;
    background: #eee;
    color: #ff8400;
    background-image: url('/tax_design_challenge_hero.jpeg');
    background-size: cover;
    position: relative;
}

.hero-inset {
    position: absolute;
    padding: 24px 20px;
    top: 40px;
    width: 35%;
    right: 0;
    font-size: 1.2em;
    z-index: 2;
}

.hero-unit .inset-bg {
    background: #fff;
    position: absolute;
    top: 0; right: 0;
    bottom: 0; left: 0;
    opacity: 0.93;
    padding: 24px 20px;
    width: 100%;
    height: 100%;
    right: 0;
    font-size: 1.2em;
    z-index: -1;
}

.hero-inset span {
    color: #838383;
    font-style: italic;
}

    @media screen and (max-width: 40.5em) {
        .hero-inset {
            position: absolute;
            top: 40px;
            width: 90%;
        }

        .nav > li > a {
            padding: 0;
        }
    }

    @media screen and (max-width: 767px) {
        .navbar-nav > li:first-child {
            border-right: 0;
        }

        #navbar .nav.navbar-nav li {
            line-height: 2em;
        }
    }

a.btn-ghost {
    border: 2px solid #fff;
    background: transparent;
    color: #fff;
    text-transform: uppercase;
}

a.btn-ghost.hero-sticky {
    position: absolute;
    bottom: 30px;
    right: 40px;
}

.title-strong {
    font-weight: bold;
    display: inline;
}

.strong {
    font-weight: bold;
}


/* Sidebar */
.sidebar-container {
    margin-top: 1.5em;
    background: #eeeeee;
    position: relative;;
}

.sidebar-container .title {
    margin: 10px 0 35px;
}

.sidebar-items-container {
    height: 60px;
    width: 100%;
    font-family: 'Roboto', sans-serif;
}

.sidebar-items-container.large {
    height: 120px;
}

.sidebar-circle {
    position:relative;
    background:#ff8400;
    width:60px;
    height:60px;
    text-align:center;    
    -webkit-border-radius: 50px;  
    -moz-border-radius: 50px;  
    border-radius: 50px;
    border: 1px solid #fff;
}

.sidebar-circle p {
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    color:#fff;
    vertical-align:middle;
    height:40px; 
    position: inherit;
    top:12%;        
}

.sidebar-rect {
    position:relative;
    background:#ff8400;
    width:60px;
    height:50px;
    text-align:center;    
    -webkit-border-radius: 5px;  
    -moz-border-radius: 5px;  
    border-radius: 5px;
    border: 1px solid #fff;
}

.sidebar-rect p {
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    color:#fff;
    vertical-align:middle;
    height:40px; 
    position: inherit;
    top:5%;        
}

/* Design Submissions 48 */
.sidebar-box.sb-1 {
    padding: 7px 25px 7px 10px;
}
.sc-1 {
    left: 150px;
    top: -40px;
}

/* TaxDesignChallenge.com Visitors */
.sidebar-box.sb-2 {
    padding: 7px 25px 7px 10px;
    margin-left: 15px;
}
.sc-2 {
    left: 0px;
    top: 0px;
    width: 130px;
}

/* Challenge.gov Followers 80 */
.sidebar-box.sb-3 {
    padding: 7px 25px 7px 10px;
    top: 0;
    margin-left: 45px;
}
.sc-3 {
    left: 220px;
    top: -40px;
}

/* Prize Categories */
.sidebar-box.sb-4 {
    padding: 7px 10px 7px 25px;
    margin-left: 50px;
}
.sc-4 {
    left: 0px;
    top: -40px;
    width: 60px;
}

/* IRS Judges 5 */
.sidebar-box.sb-5 {
    padding: 7px 25px 7px 10px;
    top: 0;
    margin-left: 100px;
}
.sc-5 {
    left: 190px;
    top: -40px;
}

/* Challenge Winners */
.sidebar-box.sb-6 {
    padding: 7px 10px 7px 25px;
    margin-left: 45px;
}
.sc-6 {
    left: 0px;
    top: -40px;
    width: 60px;
}


.sidebar-box {
    background: #a5a2a2;
    padding: 8px;
    color: #fff;
}

.footer .container {
    padding: 15px 0 25px 0;
    text-align: center;
    border-top: 1px solid #eee;
}

.footer .container a {
    text-decoration: underline;
}

.content-container h3 {
    color: #275284;
}

/* Submissions */

.content-submission-container {
    margin: 2em 0;
}

.content-submission-container .thumbnail-gallery {
    border: 1px solid #000;
    height: 100%;
    width: 100%;
}

/* Winners */

.content-submissions-container {
    background: #fff;
    padding: 0 12px 0 0;
    border: 1px solid #eee;
    margin-bottom: 2em;
    float: left;
    min-height: 184px;
}

.preview-container {
    margin-left: 200px;
}

.content-submissions-container img {
    float: left;
    margin-right: 25px;
    width: 172px;
}

    @media screen and (max-width: 40.5em) {
        .content-submissions-container img {
            margin-bottom: 1em;
        }

        .content-submissions-container {
            padding-right: 0;
        }
    }

    @media screen and (max-width: 30.5em) {
        .content-submissions-container img {
            float: none;
        }

        .preview-container {
            margin-left: 0px;
        }

        .submission-thumb img {
            width: 100%;
        }
    }


.content-submissions-container .header-title,
.content-submission-container .header-title {
    margin-top: 12px;
}

.content-submissions-container .title,
.content-submission-container .title {
    font-size: 1em;
    font-weight: bold;
    color: #000;
    display: inline;
}

.content-submissions-container a,
.content-submission-container a {
    text-decoration: underline;
}


    .other-submissions-container .col-sm-4 {
        margin-bottom: 10px;
    }