<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Ideas Catalog 2016 - Tax Design Challenge Showcase</title>

    <link href="{{ site.baseurl }}/assets/css/bootstrap-v3.1.0.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/normalize.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/syntax.css">

    <!-- Fonts -->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
    <link href='{{ site.baseurl }}/assets/js/google-fonts.js' rel='stylesheet' type='text/css'>

    <!-- Fancybox v3 -->
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/fancybox/core.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/fancybox/fullscreen.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/fancybox/slideshow.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/fancybox/thumbs.css" type="text/css" media="screen" />
    
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/main.css">

    <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
      <script src="{{ site.baseurl }}/assets/js/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
<div id="skipcontent">
  <a href="#main" class="skip sr-only sr-only-focusable">Skip to Main Content</a>
</div>

    <div class="container-fluid">
      <div class="row">

        <div class="col-md-12">
          {% include top-header.html %}
        </div>

      </div>

      <main class="row border">
      {{ content }}
      </main>

      {% include footer.html %}

    </div>

    {% include scripts.html %}

    <script>
    jQuery(document).ready(function() {
      $("[data-fancybox]").fancybox({
        margin : [110, 0],
        baseTpl : '<div class="fancybox-container" role="dialog" tabindex="-1">' +
                    '<div class="fancybox-bg"></div>' +
                    '<div class="fancybox-caption-wrap" style="top:0;padding-top:15px;background:none;">' +
                      '<div class="fancybox-caption" style="border:0;"></div>' +
                    '</div><button class="fancybox-button fancybox-button--left" data-fancybox-previous="" style="top:45%;left:0 !important;z-index:9999999;" title="Previous"></button>' +
                    '<div class="fancybox-controls" style="bottom:0;top:auto;">' +
                      '<div class="fancybox-infobar" style="width:100%;">' +
                        '<div class="fancybox-infobar__body" style="background:transparent;">' +
                          '<span class="js-fancybox-index"></span>&nbsp;/&nbsp;<span class="js-fancybox-count"></span>' +
                        '</div>' +
                      '</div>' +
                    '</div>' +
                    '<div class="fancybox-controls">' +
                      '<div class="fancybox-buttons">' +
                        '<button class="fancybox-button fancybox-button--close" data-fancybox-close="" title="Close (Esc)"></button>' +
                      '</div>' +
                    '</div>' +
                    '<div class="fancybox-slider-wrap">' +
                      '<div class="fancybox-slider"></div>' +
                    '</div><button class="fancybox-button fancybox-button--right" data-fancybox-next="" style="top:45%;right:0 !important;z-index:9999999;position:fixed;" title="Next"></button>' +
                  '</div>',
        onComplete: function (instance, slide) {
           $(".fancybox-image").attr("alt", slide.opts.$orig.data('alt'));
        }
      });
      $(".fancybox-winners").fancybox({
        margin : [110, 0],
        baseTpl : '<div class="fancybox-container" role="dialog" tabindex="-1">' +
                    '<div class="fancybox-bg"></div>' +
                    '<div class="fancybox-caption-wrap" style="top:0;padding-top:15px;background:none;">' +
                      '<div class="fancybox-caption" style="border:0;"></div>' +
                    '</div><button class="fancybox-button fancybox-button--left" data-fancybox-previous="" style="top:45%;left:0 !important;z-index:9999999;" title="Previous"></button>' +
                    '<div class="fancybox-controls" style="bottom:0;top:auto;">' +
                      '<div class="fancybox-infobar" style="width:100%;">' +
                        '<div class="fancybox-infobar__body" style="background:transparent;">' +
                          '<span class="js-fancybox-index"></span>&nbsp;/&nbsp;<span class="js-fancybox-count"></span>' +
                        '</div>' +
                      '</div>' +
                    '</div>' +
                    '<div class="fancybox-controls">' +
                      '<div class="fancybox-buttons">' +
                        '<button class="fancybox-button fancybox-button--close" data-fancybox-close="" title="Close (Esc)"></button>' +
                      '</div>' +
                    '</div>' +
                    '<div class="fancybox-slider-wrap">' +
                      '<div class="fancybox-slider"></div>' +
                    '</div><button class="fancybox-button fancybox-button--right" data-fancybox-next="" style="top:45%;right:0 !important;z-index:9999999;position:fixed;" title="Next"></button>' +
                  '</div>',
        onComplete: function (instance, slide) {
           $(".fancybox-image").attr("alt", slide.opts.$orig.data('alt'));
        }
      });
      $(".fancybox-submissions").fancybox({
        margin : [110, 0],
        baseTpl : '<div class="fancybox-container" role="dialog" tabindex="-1">' +
                    '<div class="fancybox-bg"></div>' +
                    '<div class="fancybox-caption-wrap" style="top:0;padding-top:15px;background:none;">' +
                      '<div class="fancybox-caption" style="border:0;"></div>' +
                    '</div><button class="fancybox-button fancybox-button--left" data-fancybox-previous="" style="top:45%;left:0 !important;z-index:9999999;" title="Previous"></button>' +
                    '<div class="fancybox-controls" style="bottom:0;top:auto;">' +
                      '<div class="fancybox-infobar" style="width:100%;">' +
                        '<div class="fancybox-infobar__body" style="background:transparent;">' +
                          '<span class="js-fancybox-index"></span>&nbsp;/&nbsp;<span class="js-fancybox-count"></span>' +
                        '</div>' +
                      '</div>' +
                    '</div>' +
                    '<div class="fancybox-controls">' +
                      '<div class="fancybox-buttons">' +
                        '<button class="fancybox-button fancybox-button--close" data-fancybox-close="" title="Close (Esc)"></button>' +
                      '</div>' +
                    '</div>' +
                    '<div class="fancybox-slider-wrap">' +
                      '<div class="fancybox-slider"></div>' +
                    '</div><button class="fancybox-button fancybox-button--right" data-fancybox-next="" style="top:45%;right:0 !important;z-index:9999999;position:fixed;" title="Next"></button>' +
                  '</div>',
        onComplete: function (instance, slide) {
           $(".fancybox-image").attr("alt", slide.opts.$orig.data('alt'));
        }
      });
    });
    </script>

    <script>
    // Collapse Innovate menu when item is clicked
    /*$('.nav.nav-gallery .panel .panel-collapse.collapse .panel-body ul li').on('click', function(){
        $('.btn-navbar').click(); //bootstrap 2.x
        $('.navbar-toggle').click() //bootstrap 3.x by Richard
    });*/
    $(document).ready(function() {
      if ($(window).width() < 767) {
        $('.nav.nav-gallery .panel .panel-collapse.collapse .panel-body ul li').on('click', function(){
            $('html, body').animate({
                scrollTop: $("#main").offset().top
            }, 400);
        });
      }
    });
    </script>

    <script>
    // Active class highlight
    $('#accordion')
    .on('show.bs.collapse', function(e) {
      $(e.target).prev('.panel-heading').addClass('active');
    })
    .on('hide.bs.collapse', function(e) {
      $(e.target).prev('.panel-heading').removeClass('active');
    });

    $(document).ready(function() {
        var selector = '.panel .panel-collapse ul li.iso-btn';
        $(selector).on('click', function(){
            $(selector).removeClass('active');
            $(this).addClass('active');
        });
    });
    </script>

    <script>
    // Fixes Safari bug
    $(window).load(function(){ $('.grid').masonry(); });
    </script>


    <script>
    // Accordion chevrons
    $(document).ready(function(){
    function toggleChevron(e) {
        $(e.target)
            .prev('.panel-heading')
            .find('i.indicator')
            //.toggleClass('glyphicon-chevron-down glyphicon-chevron-up');
            .toggleClass('glyphicon-minus glyphicon-plus');
    }
    $('#accessibility-accordion, #accessibility-accordion2').on('hidden.bs.collapse', toggleChevron);
    $('#accessibility-accordion, #accessibility-accordion2').on('shown.bs.collapse', toggleChevron);
    });
    </script>

    <script>
    // tabindex for gallery images
    // change first child (a) tabindex to 0
    $(document).ready(function() {
      $(".grid-item a:first-of-type").attr("tabindex", "0");
    });
    </script>

    <script>
    $( document ).ready(function() {
      // bind a click event to the 'skip' link
      $(".skip").click(function(event){

        // strip the leading hash and declare
        // the content we're skipping to
        var skipTo="#"+this.href.split('#')[1];

        // Setting 'tabindex' to -1 takes an element out of normal 
        // tab flow but allows it to be focused via javascript
        $(skipTo).attr('tabindex', -1).on('blur focusout', function () {

            // when focus leaves this element, 
            // remove the tabindex attribute
            $(this).removeAttr('tabindex');

        }).focus(); // focus on the content container
      });
    });
    </script>

    {% if site.offline_cache == true %}
      <script>
        if( 'serviceWorker' in navigator ) {
          navigator.serviceWorker
           .register( '{{ site.baseurl }}/sw.js' )
           .catch(function( err ) {
             console.log( 'ServiceWorker registration failed: ', err );
           });
         }
      </script>
    {% endif %}

  </body>
</html>

