<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <title>Ideas Catalog 2016 - Tax Design Challenge Showcase</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/normalize.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/syntax.css">
    <link href="{{ site.baseurl }}/assets/css/bootstrap-v3.1.0.css" rel="stylesheet">
    <link href='{{ site.baseurl }}/assets/js/google-fonts.js' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/main.css">

    <!-- Fancybox v3 -->
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/fancybox/core.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/fancybox/fullscreen.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/fancybox/slideshow.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/fancybox/thumbs.css" type="text/css" media="screen" />

    <!-- FontAwesome -->
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/font-awesome.min.css" type="text/css" media="screen" />

    <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
      <script src="{{ site.baseurl }}/assets/js/respond.min.js"></script>
    <![endif]-->

    <script>
    // Accordion chevrons
    $(document).ready(function(){
        $(".panel-heading").addClass("collapsed");
    });
    </script>
  </head>

  <body>
    <div class="container">

      <div class="row">
      <header>
        <div class="wrap">
          <div class="navbar navbar-default">
              <div class="navbar-header">
                <a href="{{ site.baseurl }}/">
                  <div class="ratio4-3" title="IRS Tax Design Challenge"></div>
                </a>
              </div>
          </div>
        </div>
      </header>
      </div>

      <main class="row border">
      {{ content }}
      </main>

      <footer class="wrap footer">
        <div class="row">
          <div class="container">
            <div class="col-md-12">
              <p><a href="https://www.irs.gov/uac/irs-privacy-policy">Acceptable Use and Privacy Policy</a> |  
              <a href="https://www.irs.gov/uac/irs-gov-accessibility">Accessibility</a> | 
              <a href="https://www.irs.gov/">IRS.gov</a> | 
              <a href="https://www.treasury.gov/Pages/default.aspx">Treasury.gov</a> | 
              <a href="https://www.usa.gov/">USA.gov</a></p>
            </div>

            <div class="col-md-10 col-md-offset-1">
              <h3>Note for Tax Design Challenge Submissions:</h3>
              <p>PDFs may not be accessible to Assistive Technology users. Participant information has been removed from some PDFs and samples. Please <a href="mailto:michael.lin@irs.gov?subject=I'd like to get involved with or learn more about open innovation at the IRS.">email</a> for further information or to receive a submission in an accessible format.</p>
            </div>
          </div>
        </div>
      </footer>

    </div> <!-- /.container -->

    <script src="{{ site.baseurl }}/assets/js/jquery-1.10.2.min.js"></script>
    <script src="{{ site.baseurl }}/assets/js/bootstrap-v3.1.0-min.js"></script>

    <script type="text/javascript" src="{{ site.baseurl }}/assets/js/fancybox/core.js"></script>
    <script type="text/javascript" src="{{ site.baseurl }}/assets/js/fancybox/fullscreen.js"></script>
    <script type="text/javascript" src="{{ site.baseurl }}/assets/js/fancybox/gestures.js"></script>
    <script type="text/javascript" src="{{ site.baseurl }}/assets/js/fancybox/media.js"></script>
    <script type="text/javascript" src="{{ site.baseurl }}/assets/js/fancybox/slideshow.js"></script>
    <script type="text/javascript" src="{{ site.baseurl }}/assets/js/fancybox/thumbs.js"></script>

    <script>
    jQuery(document).ready(function() {
      $("[data-fancybox]").fancybox({
        margin : [90, 0],
        onComplete: function (instance, slide) {
           $(".fancybox-image").attr("alt", slide.opts.$orig.data('alt'));
        }

      });
    });
    </script>

    <script src="{{ site.baseurl }}/assets/js/isotope/isotope.pkgd.min.js"></script>
    <script src="{{ site.baseurl }}/assets/js/isotope/isotope.js"></script>

    <script>
    // Collapse Innovate menu when item is clicked
    $('.nav.nav-gallery .panel .panel-collapse.collapse .panel-body ul li').on('click', function(){
        $('.btn-navbar').click(); //bootstrap 2.x
        $('.navbar-toggle').click() //bootstrap 3.x by Richard
    });
    </script>

    <script>
    // Active class highlight
    $('#accordion')
    .on('show.bs.collapse', function(e) {
      $(e.target).prev('.panel-heading').addClass('active');
    })
    .on('hide.bs.collapse', function(e) {
      $(e.target).prev('.panel-heading').removeClass('active');
    });

    $(document).ready(function() {
        var selector = '.panel .panel-collapse ul li.iso-btn';
        $(selector).on('click', function(){
            $(selector).removeClass('active');
            $(this).addClass('active');
        });
    });
    </script>

    <script>
    // Fixes Safari bug
    $(window).load(function(){ $('.grid').masonry(); });
    </script>



    {% if site.offline_cache == true %}
      <script>
        if( 'serviceWorker' in navigator ) {
          navigator.serviceWorker
           .register( '{{ site.baseurl }}/sw.js' )
           .catch(function( err ) {
             console.log( 'ServiceWorker registration failed: ', err );
           });
         }
      </script>
    {% endif %}

    </body>
</html>

