<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>2016 Tax Design Challenge Showcase</title>

    <link href="{{ site.baseurl }}/assets/css/bootstrap-v3.1.0.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/normalize.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/syntax.css">

    <!-- Fonts -->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
    <link href='{{ site.baseurl }}/assets/js/google-fonts.js' rel='stylesheet' type='text/css'>

    <!-- Fancybox v3 -->
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/fancybox/core.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/fancybox/fullscreen.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/fancybox/slideshow.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/fancybox/thumbs.css" type="text/css" media="screen" />
    
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/main.css">

    <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
      <script src="{{ site.baseurl }}/assets/js/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
    <div id="skipcontent">
      <a href="#main" class="skip sr-only sr-only-focusable">Skip to Main Content</a>
    </div>

    <div class="container-fluid">
      {% include top-header.html %}

      {{ content }}

      {% include footer.html %}
    </div>



    {% include scripts.html %}

    {% if site.offline_cache == true %}
      <!--<script>
        if( 'serviceWorker' in navigator ) {
          navigator.serviceWorker
           .register( '{{ site.baseurl }}/sw.js' )
           .catch(function( err ) {
             console.log( 'ServiceWorker registration failed: ', err );
           });
         }
      </script>-->
    {% endif %}

  </body>
</html>

